* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header {
    background: white;
    width: 100%;
    height: 10%;
    position: fixed;
    z-index: 100;
}

nav {
    float: left;
}

    nav ul {
        list-style: none;
        overflow: visible;
    }

        nav ul li {
            float: left;
            font-size: 16px;
        }

            nav ul li a {
                display: block;
                padding: 22px;
                color: black;
                text-decoration: none;
            }

            nav ul li:hover {
                background-color: black;
            }

                nav ul li:hover a {
                    color: white;
                    font-size: 18px;
                }

            nav ul li, nav ul li a {
                transition: font-size 1s ease, color 0.5s ease, background 0.5s ease;
            }

                nav ul li:last-child span {
                    margin-top: 22px;
                    color: black;
                    float: left;
                    margin-left: 250px;
                    background-color: white;
                    position: absolute;
                    color: black;
                    cursor: default;
                    pointer-events: none;
                }

                nav ul li:last-child:hover span {
                    background-color: white;
                    color: black;
                    font-size: inherit;
                }

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    list-style: none;
    border-color: white;
    border: 1.5px groove white;
}

    .submenu li {
        float: none;
    }

        .submenu li a {
            white-space: nowrap;
        }

.MenuIntegrantes:hover .submenu {
    display: block;
    position: relative;
}

.submenu li:hover {
    background-color: white;
}

    .submenu li:hover a {
        color: black;
        font-size: 18px;
    }

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    border: transparent;
}

.grid-item {
    width: calc(50% - 10px);
    margin-bottom: 20px;
    box-sizing: border-box;
    border: transparent;
    padding: 10px;
}

.grid-item-clickable {
    width: calc(50% - 10px);
    margin-bottom: 20px;
    box-sizing: border-box;
    border: transparent;
    padding: 10px;
}

@media (max-width: 700px) {
    .grid-item {
        width: 100%;
    }

    body {
        height: 150vh;
    }

    .grid-item-clickable {
        width: 100%;
    }
}

.grid-item-clickable:hover {
    background-color: #000;
    transform: scale(1.05);
    color: white;
    cursor: pointer;
}

/*Forms css*/
.form-container {
    background-color: #fff;
    border: 3px solid #000;
    border-radius: 5px;
    padding: 20px;
    width: 300px;
    text-align: center;
    transition: background-color 0.3s ease-out, transform 0.3s ease-out;
}

    .form-container:hover {
        background-color: #000;
        transform: scale(1.05);
        color: white;
    }

.form-item {
    margin: 10px 0;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

    .form-item:focus {
        outline: none;
        border-color: lightgreen;
    }

.form-buttons {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

    .form-buttons button {
        margin-top: 15px;
        padding: 10px 20px;
        border: 3px solid #000;
        border-radius: 5px;
        cursor: pointer;
        background-color: #fff;
        color: #000;
        transition: background-color 0.3s ease-out, border-color 0.3s ease-out, color 0.3s ease-out, transform 0.3s ease-out;
    }

        .form-buttons button:hover {
            background-color: #15ff92;
            border-color: transparent;
            color: black;
            font-weight: bolder;
            transform: scale(1.05);
        }

#formResponse {
    display: none;
}
